.premium_card .card-body {
  background: linear-gradient(
    360deg,
    rgb(255, 251, 248) 44.27%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50%;
  border-radius: 0 0 20px 20px;
}
.premium_card {
  height: 331px;
  position: relative;
}
.brand_name {
  position: absolute;
  bottom: 30px;
  font-size: 19px;
  font-weight: 600;
  color: #444;
}
.total_spaces {
  position: absolute;
  bottom: 9px;
  font-size: 15px;
  line-height: 14px;
  color: #f55416;
  font-weight: 600;
}
.brand_logo {
  position: absolute;
  right: 7px;
  top: 7px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.sub_heading span:nth-child(2)::before {
  content: "";
  background-image: none;
}

@media only screen and (max-width: 768px) {
  .section_heading_brands {
    width: 100%;
    margin: auto;
  }
  .sub_heading span {
    font-size: 14px;
  }
}
