.mob_section {
  display: none;
}
.p_60 {
  padding: 60px 0;
}

@media only screen and (max-width: 768px) {
  .mob_section {
    display: block;
  }
  .propert_card {
    margin-top: 30px;
  }
  .p_60 {
    padding: 60px 0 0;
  }
}
