.top_gurgaon_span {
  color: #d09cff;
  position: relative;
}
.top_gurgaon_span:after {
  position: absolute;
  background-image: url("https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/e952271d00eb3de4234d9ad6651e35954606256a.png");
  background-size: cover;
  content: "";
  width: 30px;
  height: 30px;
  top: -11px;
}
.css-1bechtd-curveStyle {
  margin-top: -26px;
}
.location_box {
  display: flex;
  align-items: center;
}
.location_box img {
  display: inline-block;
  width: 16px;
}
.location_box p {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 8px;
  color: gray;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
}
.price_from {
  font-size: 16px;
  line-height: 31px;
  color: #d09cff;
  margin-bottom: 0;
  font-weight: 500;
}
.price {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}
.price span {
  color: #d09cff;
}
.price_box {
  display: flex;
  justify-content: space-between;
}
.explore_box p {
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 0px;
  color: rgb(208, 156, 255);
  font-weight: 600;
  font-size: 14px;
}
.banner_section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 40px;
  margin-top: 100px;
  border-radius: 20px;
}
@media only screen and (max-width: 768px) {
  .css-1bechtd-curveStyle {
    margin-top: -25px;
  }
  .location_box p {
    font-size: 12px;
  }
  .price_from {
    font-size: 14px;
    font-weight: 600;
  }
  .price {
    font-size: 15px;
    font-weight: 600;
  }
  .explore_box p {
    font-size: 14px;
    margin-right: 3px;
  }
  .top_gurgaon_span:after {
    background-image: none;
    width: 0;
    height: 0;
  }
}
