.facility_main {
  background-image: url("../../media/facility_banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}
.facility_name {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.facility_description {
  font-size: 14px;
  font-weight: 500;
}
.facility_box {
  margin-top: 60px;
  text-align: center;
}
.facility_box img {
  width: 50px;
  height: 50px;
}
@media only screen and (max-width: 768px) {
  .facility_main {
    background-image: url("../../media/facility_banner_mob.png");
    padding: 60px 0;
  }
  .facility_description {
    display: none;
  }
  .facility_box img {
    width: 40px;
    height: 40px;
  }
  .facility_box {
    margin-top: 30px;
  }
}
