.breadcrumb-item a:not(.active) {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}
.city_span {
  color: #d09cff;
}
.robot {
  width: 80px;
}
.microlocation_tab {
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 40px 20px 60px 0;
}
.microlocation_tab ul {
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}
.microlocation_tab ul li {
  display: inline-block;
  list-style-type: none;
  padding: 10px;
  color: #444;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #f7f7f7;
  transition: all 0.3s ease-in-out;
}
.microlocation_tab ul li a {
  color: #222;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.microlocation_tab ul li a:hover {
  color: #d09cff !important;
}
.city_page_title {
  font-size: 25px;
  font-weight: 600;
  color: #444444;
}
.space_card {
  text-align: center;
}
.WgpPQ {
  width: 285px !important;
  padding: 0px;
  margin: 0 10px;
}
.property_card {
  width: 100%;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.property_card .card_body {
  padding: 14px;
}
.img_box {
  height: 213px;
  overflow: hidden;
  padding: 0;
}
.property_card .img_box img {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.location_box p {
  margin-bottom: 0;
  color: gray;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}
.price_from {
  font-size: 14px;
  line-height: 31px;
  color: #d09cff;
  margin-bottom: 0;
  font-weight: 500;
}
.price {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}
.price span {
  color: #d09cff;
  font-size: 14px;
}
.explore_box p {
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 0px;
  color: rgb(208, 156, 255);
  font-weight: 600;
  font-size: 14px;
}
.city_page_title_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 40px 0;
}
.city_page_title_box > h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
}
.city_explore a {
  color: #d09cff;
  text-decoration: none;
  font-weight: 600;
}
.other_location_box {
  background: linear-gradient(90deg, #feeff9 0%, #eefbfe 100%);
  padding: 100px 0;
}
.other_location_box h3 {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #444444;
}

.other_location_box a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
}
.other_location_box .col-md-3 {
  padding-bottom: 11px;
}
.footer_content_main {
  background: rgba(248, 244, 251, 0.3);
  color: #7b7b7b;
  padding: 70px 0;
}
.footer_title {
  color: #444;
  font-size: 20px;
  font-weight: 600;
}
.footer_content h2 {
  font-weight: 600;
  font-size: 18px;
  text-align: left;
}
.footer_content p {
  font-size: 14px !important;
  background-color: transparent !important;
}
.footer_content span {
  font-size: 14px !important;
  background-color: transparent !important;
}
.city_page_title_box > a {
  color: #444;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .microlocation_tab {
    margin: 30px 10px;
  }
  .city_page_title_box h3 {
    font-size: 20px;
    line-height: 28px;
  }
  .microlocation_tab ul {
    white-space: nowrap;
    overflow-x: scroll;
  }
  .microlocation_tab ul::-webkit-scrollbar {
    display: none;
  }
  .css-1bechtd-curveStyle {
    margin-top: -25px;
  }
  .location_box p {
    font-size: 12px;
    line-height: 20px;
  }
  .price_from {
    font-size: 14px;
    font-weight: 600;
  }
  .price {
    font-size: 15px;
    font-weight: 600;
  }
  .explore_box p {
    font-size: 14px;
    margin-right: 3px;
  }
  .top_city_span:after {
    background-image: none;
    width: 0;
    height: 0;
  }
  .other_location_box {
    padding-top: 40px;
  }
  .other_location_box a {
    font-size: 15px;
    line-height: 32px;
  }
  .robot {
    width: 60px;
  }
  .city_heading {
    margin-left: 0px;
  }
  .city_page_title_box {
    margin-left: 10px;
    margin-right: 10px;
  }
  .city_explore a {
    font-size: 12px;
  }
  .city_explore img {
    width: 8px;
  }
  .footer_title {
    font-size: 16px;
    font-weight: 600;
  }
  .footer_content h2 {
    font-weight: 600;
    font-size: 16px;
    text-align: left;
  }
  .footer_content p {
    font-size: 12px !important;
    background-color: transparent !important;
    font-family: montserrat;
  }
  .footer_content span {
    font-size: 12px !important;
    background-color: transparent !important;
  }
}

@media only screen and (max-width: 576px) {
  .img_box {
    height: 147px;
  }
  .property_card {
    margin-bottom: 30px;
  }
  .city_page_title_box {
    margin: 30px 20px 0;
  }
  /* .WgpPQ {
    margin: 0;
  } */
}
