.contact_section .col-md-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_section .col-md-6 img {
  width: 70%;
}
.contact_section {
  margin-top: 60px;
}
.contact_form_box {
  width: 80%;
  padding: 40px 60px;
  background-color: #fff;
  box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.contact_form_box h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 21px;
}
.contact_form_box .form-control {
  padding: 10px !important;
}
.css-1jqq78o-placeholder {
  font-size: 16px !important;
}
.robi_mail_box {
  margin-top: 20px;
}
.robi_mail_box a {
  color: #444;
  text-decoration: none;
  font-weight: 500;
}
.robi_mail_box a span {
  font-weight: 600;
}
.home_contact_main {
  background-image: url("../../media/home_contact_banner.svg");
}

@media only screen and (max-width: 768px) {
  .home_contact_img {
    display: none !important;
  }
  .contact_section {
    margin-top: 0;
  }
  .contact_form_box {
    width: 95%;
    padding: 40px 31px;
    margin-top: 30px;
  }
  .home_contact_main {
    background-image: none;
  }
  .d_flex_mob {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
