.breadcrumb-item a:not(.active) {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.title_section_property {
  display: flex;
  justify-content: space-between;
}
.amenity_section_property {
  margin-top: 30px;
  font-size: 14px;
}

.title_heading_property {
  text-align: left;
}
.title_color_property {
  color: #d09cff;
}
.price_section_property {
  font-weight: 600;
  font-size: 30px !important;
}
.price_section_box {
  display: flex;
  align-items: end;
  flex-direction: column;
}
.price_section_property span {
  color: #d09cff;
  font-size: 20px;
  font-weight: 600;
}
.title_section_property > div > p {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.about_property_section {
  margin-top: 30px;
}
.about_property_section p {
  font-size: 14px;
  text-align: inherit;
}
.category_section_property {
  margin-top: 30px;
  background: linear-gradient(
    90deg,
    rgba(248, 244, 251, 0.8) 0%,
    rgba(244, 253, 255, 0.8) 99.95%
  );
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 12px;
}
.category_section_property h4 {
  font-size: 17px;
  font-weight: 600;
}
.category_section_property div p {
  font-size: 14px;
}
.category_section_property div p span {
  color: #d09cff;
}
.offers_section_property {
  margin-top: 30px;
}
.contact_section_property .col-md-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_section_property .col-md-6 img {
  width: 70%;
}
.contact_section_property {
  margin-top: 60px;
}
.contact_form_box_property {
  width: 100%;
  padding: 40px 35px;
  background-color: #fff;
  box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-image: url("../media/contact_banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.contact_form_box_property h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 21px;
  text-align: center;
}
.contact_form_box_property .form-control {
  padding: 7px !important;
  border-radius: 10px;
  border: 1px solid rgba(33, 37, 41, 0.1);
  box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.1);
}
.css-1jqq78o-placeholder {
  font-size: 16px !important;
}
.robi_mail_box_property {
  margin-top: 20px;
}
.robi_mail_box_property a {
  color: #444;
  text-decoration: none;
  font-weight: 500;
}
.robi_mail_box_property a span {
  font-weight: 600;
}

.select_option_property {
  width: 100%;
}
.select_option_property Select {
  border-radius: 10px;
}
.select_option_property .css-t3ipsp-control {
  border-radius: 10px !important;
  padding: 0 !important;
}
.select_option_property .css-13cymwt-control {
  border-radius: 10px !important;
  padding: 0 !important;
}
.select_option_property .css-1nmdiq5-menu {
  min-height: 0 !important;
}

.contact_btn {
  padding: 8px 23px;
}
.sticky_form {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}
.property_icon {
  margin-bottom: 10px;
}
.facility_name_property {
  margin-bottom: 9px;
}
.desk_icon_box {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
}
.desk_icon_box img {
  width: 70px;
}
.property_h3 {
  font-size: 24px;
  font-weight: 600;
}
.property_h2 {
  text-align: left;
}
.main_amenity_icon img {
  width: 23px;
}
.main_amenity_box {
  display: flex;
}
.main_amenity_box div:nth-child(2) {
  margin-left: 14px;
}
.main_amenity_box div:nth-child(2) p {
  font-size: 16px;
  font-weight: 500;
}
.devider_line {
  color: rgba(68, 68, 68, 0.4);
  margin: 50px 0;
}
.contact_form_footer {
  background-image: url("../media/contact_footer_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
  padding: 36px;
  text-align: center;
  margin-top: 30px;
}
.explore_box img {
  width: 10px;
}
@media only screen and (max-width: 768px) {
  .fixed_div {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 14px;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    align-items: center;
    box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.1);
  }
  .footer_mob {
    margin-bottom: 63px;
  }
  .starting_price p:nth-child(1) {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    color: #444;
  }
  .starting_price p:nth-child(2) {
    font-size: 20px;
    font-weight: 600;
    color: #444;
    margin-bottom: 0;
  }
  .starting_price p:nth-child(2) span {
    font-size: 16px;
    color: #d09cff;
  }
  .price_section_box {
    display: none;
  }
  .amenity_section_property .col-md-4 {
    display: flex;
    align-items: center;
  }
  .amenity_section_property .col-md-4 div {
    margin-left: 12px;
  }
  .property_icon {
    width: 40px;
  }
  .facility_name_property {
    margin-bottom: 0;
  }
  .devider_line {
    margin: 12px 0;
  }
  .category_section_property {
    margin: 30px 4px 0;
    border-radius: 10px;
  }
  .category_section_property div p {
    margin-bottom: 0;
  }
  .desk_icon_box img {
    width: 50px;
  }
  .explore_box img {
    width: 8px;
  }
  .main_amenity_box div:nth-child(2) p {
    font-size: 14px;
  }
  .text_left {
    margin-top: 30px;
  }
  .mb_30 {
    margin-bottom: 30px;
  }
  .ReactModal__Overlay {
    margin-top: 77px !important;
    background: rgba(0, 0, 0, 0.5) !important;
  }
  .ReactModal__Content {
    inset: 13px !important;
  }
  .close_icon_box {
    text-align: right;
  }
  .close_icon_box button {
    border: none;
    background-color: #fff;
    font-size: 28px;
    margin-bottom: 10px;
  }
  .close_icon {
    border: none;
    background-color: #fff;
    font-size: 28px;
    margin-bottom: 10px;
  }
}
