@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Babylonica&family=Kaushan+Script&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Mr+Dafoe&family=Piazzolla:wght@200;300;400;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 45px;
  font-weight: 600;
  text-align: center;
}
h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #444444;
}
.sub_heading {
  font-size: 19px !important;
}
.main_banner {
  padding-top: 157px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  margin-top: 70px;
}
.main_banner2 {
  padding: 100px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 90vh; */
}
.globalBtn {
  border: none;
  padding: 14px 23px;
  border-radius: 4px;
  background: #d09cff;
  color: white;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.contact_wrapper {
  margin-bottom: 80px;
}
.thanku_btn {
  border: 2px solid #d09cff;
  padding: 13px 23px;
  border-radius: 4px;
  color: #d09cff;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  background-color: #fff;
}
.space_link {
  color: #444;
  text-decoration: none;
}
.space_link:hover {
  color: #444;
  text-decoration: none;
}
.thanku_btn:hover {
  background-color: #d09cff;
  color: #444444;
}
.thanku_main {
  height: 100vh;
}
.thanku_main .row:first-child {
  height: 100%;
}
.thanku_img {
  width: 95%;
}
.globalBtn:hover {
  background: #bc79f9;
  color: #444444;
}
.form-control:focus {
  border-color: #ced4da !important;
  box-shadow: none !important;
}
.top_space_row {
  margin: 30px 0 0;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.top_space_row::-webkit-scrollbar {
  display: none;
}
.card {
  border-radius: 20px;
  min-width: 32%;
  margin: 0 10px;
}
.card img {
  border-radius: 20px 20px 0 0;
}
.card-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
/* scrollbar button */
.eVXyLj,
.jrqawY {
  display: none;
}
.css-t3ipsp-control {
  border-color: hsl(0, 0%, 80%) !important;
  box-shadow: none !important;
}
.carousel_arrow {
  align-self: center;
  border: none;
  background: transparent;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #d09cff !important;
}
.desk_hide {
  display: none;
}
.error_validate {
  color: red;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0;
}
@media only screen and (max-width: 768px) {
  .desk_hide {
    display: block;
  }
  h1 {
    font-size: 30px;
    /* margin: 50px; */
  }
  .page_main_title {
    font-size: 20px;
    margin: 0;
    line-height: 24px;
    text-align: left;
  }
  h2 {
    font-size: 20px;
    line-height: 28px;
  }
  .main_banner {
    padding-top: 0px;
    height: auto;
    padding: 114px 0;
  }
  .main_banner2 {
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    background-image: none;
  }
  .cjzNGz,
  .gCDpsR,
  .carousel_arrow {
    display: none;
  }
  .card-title {
    font-size: 15px;
    line-height: 12px;
  }
  .top_space_row {
    margin: 20px 0;
  }
  .globalBtn {
    padding: 14px 5px;
  }
  .sub_heading {
    line-height: 14px !important;
  }
}
