@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Babylonica&family=Kaushan+Script&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Mr+Dafoe&family=Piazzolla:wght@200;300;400;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  /* scroll-behavior: smooth; */
}
h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 45px;
  font-weight: 600;
  text-align: center;
}
h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #444444;
}
.sub_heading {
  font-size: 19px !important;
}
.main_banner {
  padding-top: 157px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  margin-top: 70px;
}
.main_banner2 {
  padding: 100px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 90vh; */
}
.globalBtn {
  border: none;
  padding: 14px 23px;
  border-radius: 4px;
  background: #d09cff;
  color: white;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.wave-effect {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.contact_wrapper {
  margin-bottom: 80px;
}
.thanku_btn {
  border: 2px solid #d09cff;
  padding: 13px 23px;
  border-radius: 4px;
  color: #d09cff;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  background-color: #fff;
}
.thanku_img_box {
  width: 205px;
  margin: 0 auto 20px;
}
.thankutext h3 {
  font-size: 18px;
  font-weight: 600;
  color: #444;
}
.thankutext p {
  font-size: 14px;
}
.space_link {
  color: #444;
  text-decoration: none;
}
.space_link:hover {
  color: #444;
  text-decoration: none;
}
.thanku_btn:hover {
  background-color: #d09cff;
  color: #444444;
}
.thanku_main {
  height: 100vh;
}
.thanku_main .row:first-child {
  height: 100%;
}
.thanku_img {
  width: 95%;
}
.globalBtn:hover {
  background: #bc79f9;
  color: #444444;
}
.form-control:focus {
  border-color: #ced4da !important;
  box-shadow: none !important;
}
.top_space_row {
  margin: 30px 0;
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.top_space_row::-webkit-scrollbar {
  display: none;
}
.card {
  border-radius: 20px;
  min-width: 32%;
  margin: 0 10px;
}
.card img {
  border-radius: 20px 20px 0 0;
}
.card-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 0;
}
/* scrollbar button */
.eVXyLj,
.jrqawY {
  display: none;
}
.fAQxiW {
  display: none !important;
}
.css-t3ipsp-control {
  border-color: hsl(0, 0%, 80%) !important;
  box-shadow: none !important;
}
.carousel_arrow {
  align-self: center;
  border: none;
  background: transparent;
  width: 23px;
  position: absolute;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #d09cff !important;
}
.desk_hide {
  display: none;
}
.mob_hide {
  display: block;
}
.error_validate {
  color: red;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0;
}
.req_box {
  font-size: 20px;
  font-weight: 600;
  color: #444;
  margin-bottom: 0 !important;
}
.cross_icon {
  display: flex;
  justify-content: flex-end;
}
.form_spacite_logo {
  width: 120px;
  margin: 30px auto 10px;
}
.popup_form_footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #444;
}
.popup_cowork {
  width: 148px;
  color: #444;
  font-size: 16px;
  font-weight: 600;
}
.modal_content {
  width: 87%;
  margin: auto;
}
.modal-body {
  padding: 0px 20px 27px;
}
.modal_form_input {
  border-radius: 10px;
}
.modal_form_main {
  width: 418px;
  background: linear-gradient(
    90deg,
    rgb(254, 239, 249) 0%,
    rgb(238, 251, 254) 100%
  );
  border-radius: 10px;
  padding: 6px 30px 30px;
}
.vVpzg {
  margin: 0 !important;
}
@media only screen and (max-width: 768px) {
  .desk_hide {
    display: block;
  }
  .mob_hide {
    display: none;
  }
  h1 {
    font-size: 30px;
    /* margin: 50px; */
  }
  .page_main_title {
    font-size: 20px;
    margin: 0;
    line-height: 24px;
    text-align: left;
  }
  h2 {
    font-size: 18px;
    line-height: 28px;
  }
  .main_banner {
    padding-top: 0px;
    height: auto;
    padding: 82px 0;
    width: 100vw;
    margin-top: 55px;
  }
  .main_banner2 {
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    background-image: none;
  }
  .cjzNGz,
  .gCDpsR,
  .carousel_arrow {
    display: none;
  }
  .card-title {
    font-size: 15px;
    line-height: 17px;
  }
  .top_space_row {
    margin: 20px 0;
  }
  .globalBtn {
    padding: 14px 5px;
  }
  .sub_heading {
    line-height: 14px !important;
  }
  .contact_wrapper {
    margin-bottom: 30px;
  }
  .modal_form_main {
    width: 98vw;
  }
  .popup_cowork {
    width: 137px;
    font-size: 15px;
  }
}

.carousel-inner {
  position: relative;
  border-radius: 20px;
}

.carousel-item {
  transition: transform 0.4s ease; /* Apply smooth transition effect */
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100%;
}

/* Adjust the following styles to customize the appearance */
.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-inner img {
  object-fit: cover; /* Maintain aspect ratio and cover the carousel container */
  height: 100%;
}

/* Optionally add other styles to enhance the carousel appearance */
