.outer_top_city_box {
  background-position: center;
  background-size: cover;
  margin-top: -50px;
  background-repeat: no-repeat;
}
.top_city_container {
  padding: 120px 0;
}
.top_city_span {
  color: #d09cff;
  position: relative;
}
.top_city_span:after {
  position: absolute;
  background-image: url("https://cofynd-staging.s3.ap-south-1.amazonaws.com/images/original/e952271d00eb3de4234d9ad6651e35954606256a.png");
  background-size: cover;
  content: "";
  width: 30px;
  height: 30px;
  top: -11px;
}
.top_city_box {
  margin-top: 60px;
}
.city_img_box {
  position: relative;
  margin-bottom: 20px;
}
.city_img_box img {
  width: 100%;
  border-radius: 20px;
}
.top_city_overlay {
  position: absolute;
  width: 89%;
  height: 70px;
  background: linear-gradient(180deg, rgba(33, 37, 41, 0) 0%, #212529 100%);
  bottom: 0;
  margin: auto;
  border-radius: 0px 0px 20px 20px;
  z-index: 10;
  display: flex;
  color: white;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}
.top_city_overlay p {
  margin-bottom: 0;
}
.card-title-cities {
  font-size: 17px;
  font-weight: 600;
  line-height: 9px;
}
.price_box_city p {
  font-size: 17px;
  font-weight: 600;
}
.price_box_city p span {
  font-size: 14px;
}
